html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Profile
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='/public/profile.css')
  body
    .body
      if flash.success
        .popup-cvr
          .popup
            div.close-popup-btn(onclick='hidePopup()', style='cursor:pointer') x
            p #{flash.success}
      else if flash.error
        .popup-cvr
          .popup(style='background-color:red')
            div.close-popup-btn(onclick='hidePopup()', style='cursor:pointer') x
            p #{flash.error}

      .first
        .name Revolution
        .divs
          .div(onclick='handleprofile(this)') Profile
          .div(onclick='handlebilling(this)') Billing
          .div(onclick='handleorder(this)') Order History
        .image-cvr
          if user.fileId == ""
            .image(style=`background: url('/images/${user.shortId}'); background-position: center; background-size: cover;`)
          

          p.header1 #{user.username}
      .second
        #profile.second-display
          .cvr(style='border-top: unset;')
            .first1
              .header1 Personal Information
              .text Use a permanent address where you can receive mail.
              

            .second2
              form(action="/profileupdate", method="post", enctype="multipart/form-data")
                .top-cvr(style='display: flex; align-items: center;')
                  if user.fileId == "bhb"
                    .top(style=`background: url('/images/${user.shortId}'); background-position: center; background-size: cover;`)


                  label.file-label(for='file-input')
                    | Upload a Picture
                    input(type='file' id='file-input' name='picture' onchange='displayFileName()')
                    span#file-name

                .two-input
                  .input-main
                    p First name
                    input(type='text', name='firstname')
                  .input-main
                    p Last name
                    input(type='text', name='lastname')
                .input-main
                  p Email address
                  input(type='text', name='email')
                .input-main
                  p Username
                  input(type='text', name='username')
                input.button(type="submit", value="Save")
          .cvr
            .first1
              .header1 Change password
              .text Update your password associated with your account.
            .second2
              form(action="/passwordupdate", method="post") 
                .input-main
                  p Current Password
                  input(type='text', name='currentpassword')
                .input-main
                  p New Password
                  input(type='text', name='newpassword')
                .input-main
                  p Confirm Password
                  input(type='text', name='')
                button Save
          .cvr(style='align-items: center;')
            .first1
              .header1 Logout
              .text Logout from your current account
            .second2
              button(style='font-size: 18px;') Logout
          .cvr
            .first1
              .header1 Delete account
              .text
                | No longer want to use our service? You can delete your account here. This action is not reversible. All information related to this account will be deleted permanently.
            .second2
              button(style='font-size: 18px; background-color: #EF4444; margin-top: 20px;') Yes, delete my account
        #billing.second-display
          .cvr(style='border-top: unset;')
            .first1
              .header1 Update Billing Address
              .text Update the billing address associated with your account.
            .second2
              .input-main
                p Card number
                input(type='text')
              .input-main
                p Name on card
                input(type='text')
              .two-input
                .input-main(style='width: 73%;')
                  p Expiration date (MM/YY)
                  input(type='text')
                .input-main(style='width: 23%;')
                  p CVC
                  input(type='text')
              button Save
        #order.second-display
          .order-cvr
            ul Order no.
            ul Product
            ul Date
            ul Status
            ul Current Value
          .products
            .product
              ul ORD007474
              ul YAPPI - Animation and Post-Production
              ul 07/18/2023
              ul Complete
              ul $0.00 USD
            .product
              ul ORD007474
              ul YAPPI - Animation and Post-Production
              ul 07/18/2023
              ul Complete
              ul $0.00 USD
    script(src='/public/profile.js')